.article-container {
    display: flex;
    justify-content: center;
}

.article-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    max-width: 50%;
    background-color: #fffefb;
    border: 1px solid gainsboro;
    border-radius: 2px;
    height: 100%;
    overflow: auto;
    padding-top: 15px;
    font-family: 'Libre Baskerville', serif;

    .article-header {
        display: flex;
        justify-content: space-between;
        width: 95%;
    }

    .author-pic {
        max-height: 100px;
        border-radius: 16px;
        margin-right: 10px;
    }

    h1 {
        font-size: 26px;
        padding: 10px;
        padding-left: 0;
        align-self: flex-start;
    }

    h3 {
        font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 16px;
        padding: 10px;
        padding-bottom: 0;
        align-self: flex-start;
        width: 95%;
        padding-left: 0;
    }

    h2 {
        font-size: 24px;
        padding: 10px;
        background-color: #F4F1EA;
        border-radius: 2px;
        border: 1px solid gainsboro;
        width: 95%;
    }

    .body {
        font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 95%;
    }

    article {
        display: flex;
        padding: 10px;
        align-items: center;
        max-width: 95%;

        .book-info {
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;

            i {
                font-style: italic;
            }
    
            img {
                padding: 10px;
                width: 18vh;
                height: 27vh;
                border-top-right-radius: 22px;
                border-bottom-right-radius: 22px;
            }
        }

        .book-review {
            font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
        }

        &:hover {
            background-color: #F4F1EA;
            cursor: pointer;
            img {
                box-shadow: 0px 3px 10px 0px #382110;
                transition: box-shadow .4s ease-in-out;
            }
        }
    }
}

// @media only screen and (max-width: 630px) {
//     .article-header {
//         flex-direction: column;
//         align-items: center;
//     }
// }

@media only screen and (max-width: 900px) {
    .article-one {
        max-width: 100%;

        article {
            flex-direction: column;
        }

        h2 {
            max-width: 90%;
        }

        .body {
            max-width: 90%;
        }
        
        .even {
            flex-direction: column-reverse;
        }
    }

}

@media only screen and (max-width: 1200px) {
    .article-one {
        max-width: 65%;
    }
}