.article-container {
    display: flex;
    justify-content: center;
}

.article-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    max-width: 50%;
    background-color: #fffefb;
    border: 1px solid gainsboro;
    border-radius: 2px;
    height: 100%;
    overflow: auto;
    padding-top: 15px;
    font-family: 'Libre Baskerville', serif;

    h1 {
        font-size: 26px;
        padding: 10px;
        align-self: flex-start;
    }

    h3 {
        font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 16px;
        font-weight: lighter;
        padding: 10px;
        margin-bottom: 20px;
        align-self: flex-start;
        width: 95%;
    }

    h2 {
        font-size: 24px;
        padding: 10px;
        background-color: #F4F1EA;
        border-radius: 2px;
        border: 1px solid gainsboro;
        width: 95%;
    }

    article {
        display: flex;
        padding: 10px;
        align-items: center;
        max-width: 95%;

        .book-info {
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;

            i {
                font-style: italic;
            }
    
            img {
                padding: 10px;
                width: 18vh;
                height: 27vh;
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
            }
        }

        .book-review {
            font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
        }

        &:hover {
            background-color: #F4F1EA;
            cursor: pointer;
            img {
                box-shadow: 0px 3px 10px 0px #382110;
                transition: box-shadow .4s ease-in-out;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    article {
        flex-direction: column;
    }

    .even {
        flex-direction: column-reverse;
    }
}