.book-show {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    max-height: 100%;
    width: 100%;
    background-color: #fffefb;
    
    .book-show-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1%;
        margin-right: 4%;
        font-family: 'Montserrat', sans-serif;

        .book-show-book-cover {
            width: 18vh;
            height: 27vh;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }

        .star-rating-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 14px;
            padding-top: 15px;

            h2 {
                padding-top: 10px;
            }
        }
    }

    .book-show-right {
        margin-top: 1%;
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        align-items: left;
        max-width: 35%;
        width: 35%;
        font-family: 'Montserrat', sans-serif;

        .book-show-book-info-top {
            font-family: 'Libre Baskerville', serif;
            padding-bottom: 10px;

            .book-title {
                font-weight: bold;
                font-size: 36px;
                padding-bottom: 5px;
            }

            .book-author {
                font-size: 24px;
                font-weight: lighter;
                padding-bottom: 5px;
            }
        }

        .book-show-book-description {
            font-size: 16px;
            padding-bottom: 10px;
        }

        .book-show-book-info-bottom {
            font-size: 12px;
            border-bottom: 1px solid lightgrey;

            .book-info-list-bottom {
                li {
                    padding-bottom: 10px;
                }
            }
        }

        .no-reviews {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

.divider {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    padding-top: 10px;
}

.user-review {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 30vh;

    .review-icon {
        border-radius: 50%;
        margin-bottom: 10px;
        max-width: 50px;
    }

    .user-info {
        font-size: 12px;
        width: 35%;
        max-width: 35%;
    }

    .fa-star {
        font-size: 18px;
    }
    
    .review-info {
        border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
        width: 100%;
    }

    .rating-info {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    .hidden-review {
        display: flex;
        flex-direction: column;
        background-color: rgba(231, 231, 231, 0.596);
        padding: 10%;
        border-radius: 16px;
        font-size: 14px;

        h6 {
            padding-bottom: 20px;
        }

        p {
            font-weight: bold;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.my-review {
    align-items: center;

    h1 {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Libre Baskerville', serif;
        padding-bottom: 10px;
    }

    .review-info {
        border-bottom: none;
    }
}

@media only screen and (max-width: 600px) {
    .book-show {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .book-show-left {
            margin-right: 0;
        }

        .book-show-right {
            width: 95%;
            max-width: 95%;
        }
    }
}