.book-index-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .book-index-book-cover {
    height: 225px;
    width: 150px;
    padding: 10px;

        &:hover {
            box-shadow: 0 3px 25px 0px black;
            transition: box-shadow 0.3s ease-in-out;
        }
    }
}