.book-show {
    display: flex;
    justify-content: center;
    height: 100vmax;
    width: 100%;
    background-color: #eeebe4;
    
    .book-show-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
        margin-right: 4%;
        font-family: 'Montserrat', sans-serif;

        .book-show-book-cover {
            width: 18vh;
            height: 27vh;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }

        .star-rating-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 14px;
            padding-top: 15px;
            h2 {
                padding-top: 10px;
            }
        }
    }

    .book-show-right {
        margin-top: 2%;
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        align-items: left;
        max-width: 40%;
        font-family: 'Montserrat', sans-serif;

        .book-show-book-info-top {
            font-family: 'Libre Baskerville', serif;
            padding-bottom: 10px;

            .book-title {
                font-weight: bold;
                font-size: 36px;
                padding-bottom: 5px;
            }

            .book-author {
                font-size: 24px;
                font-weight: lighter;
                padding-bottom: 5px;
            }
        }

        .book-show-book-description {
            font-size: 16px;
            padding-bottom: 10px;
        }

        .book-show-book-info-bottom {
            font-size: 12px;
            // padding-bottom: 10px;
            border-bottom: 1px solid lightgrey;

            .book-info-list-bottom {
                li {
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.divider {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media only screen and (max-width: 600px) {
    .book-show {
        flex-direction: column;
        height: 100%;

        .book-show-right {
            max-width: 100%;
        }
    }
}

// @media only screen and (max-width: 600px) {
//     .book-show-left {
//         margin-left: 60px;
//     }

//     .book-show-right {
//         margin-right: 60px;
//     }
// }