.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: -60px;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid gainsboro;
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    label {
        font-size: 12px;
        font-weight: bolder;
    }

    h1 {
        font-size: 24px;
        font-weight: bolder;
        padding: 18px;
    }

    .form-footer {
        font-size: 10px;
        padding: 10px;
    } 

    button {
        font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
        padding: 5px;
        margin: 2px;
        border: 1px solid gainsboro;
        border-radius: 4px;
        width: 200px;
        color: black;

        &:hover {
            background-color: gainsboro;
            border: 1px solid gray;
        }
    } 

    input {
        margin-bottom: 10px;
        border: 1px solid #DCD6CC;
        border-radius: 3px;
        font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 12px;
        width: 200px;

        &:focus {
            outline: none;
            box-shadow: 0 0 3px rgba(0,0,0,0.2);
        }
    }

    .error-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-error {
        max-width: 200px;
        font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 12px;
    }
}

.logo {
     max-height: 75px;
     max-width: auto;
     overflow: hidden;
 }