.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: -60px;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid gainsboro;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

button {
    padding: 5px;
    margin: 2px;
    border: 1px solid gainsboro;
    border-radius: 4px;
} 

.logo {
     max-height: 75px;
     max-width: auto;
     overflow: hidden;
 }

// .form-footer {
//      background-image: url('footer-books.png');
//      background-repeat: repeat-x;
//      position: fixed;
//      bottom: 0;
//      height: 50px;
//      width: 100%;
//  } 


    
