.home-content-container {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
    }

    .home-left {
        background-color: #fffefb;
        border: 1px solid gainsboro;
        border-radius: 2px;
        width: 15%;
        height: 100%;
        overflow: auto;
        padding: 10px;
        margin-right: 20px;
        font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    }

    .home-right {
        background-color: #fffefb;
        border: 1px solid gainsboro;
        border-radius: 2px;
        width: 15%;
        height: 100%;
        overflow: auto;
        padding: 10px;
        margin-left: 20px;
        font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;

        // .article-link {

        // }
    }

    .users-reviews {
        background-color: #fffefb;
        border: 1px solid gainsboro;
        border-radius: 2px;
        width: 35%;
        height: 85vh;
        overflow: auto;
        padding: 10px;
        font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;


        h2 {
            font-family: 'Montserrat', sans-serif;
            padding-bottom: 10px;
        }

        .user-review {
            padding: 10px;
            border-radius: 2px;
            img {
                padding: 5px;
            }

            &:hover {
                background-color: #F4F1EA;
                cursor: pointer;
                img {
                    box-shadow: 0px 3px 10px 0px #382110;
                    transition: box-shadow .4s ease-in-out;
                }
            }
        }

        .review-cover {
            width: 66px;
            height: 100px;
            margin-right: 10px;
        }

        .fa-star {
            &:hover {
                color: #C0C0C0;
            }
        }

        .checked {
            &:hover {
                color: orange;
            }
        }

        .no-reviews {
            padding-top: 10px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .home-content-container {
        flex-direction: column;
        align-items: center;
        align-content: center;

        .home-left {
            order: 1;
            width: 80%;
            margin: 0;
        }

        .users-reviews {
            order: 3;
            width: 80%;
            max-height: 50vh;
        }

        .home-right {
            order: 2;
            width: 80%;
            margin: 0;
        }
    }
}