.home-content-container {
    margin-top: 1%;
    display: flex;
    justify-content: center;

    .users-reviews {
        background-color: #fffefb;
        border: 1px solid gainsboro;
        border-radius: 2px;
        width: 35%;
        height: 85vh;
        overflow: auto;
        padding: 10px;
        font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;

        h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
        }

        h2 {
            font-family: 'Montserrat', sans-serif;
            padding-bottom: 10px;
        }

        .user-review {
            padding: 5px;
            border-radius: 2px;

            &:hover {
                background-color: #F4F1EA;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .review-cover {
            width: 66px;
            height: 100px;
            padding-right: 10px;
        }

        .fa-star {
            &:hover {
                color: #C0C0C0;
            }
        }

        .checked {
            &:hover {
                color: orange;
            }
        }

        .no-reviews {
            padding-top: 10px;
        }
    }
}