.my-books-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: #fffefb;
    padding-top: 10px;

    .my-books-link {
        text-decoration: none;
        margin-top: 5px;
        margin-bottom: 15px;
        font-family: 'Libre Baskerville', serif;
        font-weight: bold;
        font-size: 22px;
        color: #00635d;

        &:hover {
            text-decoration: underline;
        }
    }

    .my-books-div {
        display: flex;
    }

    .my-books-filters {
        font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
        background-color: #fffefb;
        margin-right: 10px;
        border: 1px solid gainsboro;
        border-radius: 2px;
        padding: 10px;
        height: 100%;

        li {
            padding-bottom: 2px;

            &:hover {
                // color: 
                cursor: pointer;
                text-decoration: underline;
            }
        }
        
        h2 {
            margin-bottom: 10px;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
        }
      
    }

    .my-books {
        background-color: #fffefb;
        width: 60vw;
        border: 1px solid gainsboro;
        border-radius: 2px;
        padding: 10px;
        font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
        overflow: auto;
        max-height: 80vh;

        h1 {
            margin-bottom: 10px;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
        }
    }
}

@media only screen and (max-width: 1015px) {
    .my-books-div {
        flex-direction: column;
    }

    .my-books-filters {
        width: 60vw;
    }
}