.star-rating-form {
    display: flex;
    flex-direction: row-reverse;
}

.fa-star {
    color: #C0C0C0;
    font-size: 24px;

    &:hover {
        color: orange;
    }
}

.checked {
    color: orange;
}

.star-rating-form > span:hover:before,
.star-rating-form > span:hover ~ span:before {
    color: orange;
}