.star-rating-form {
    display: flex;
    flex-direction: row-reverse;
}

.fa-star {
    color: #C0C0C0;
    font-size: 24px;
    padding-right: 5px;

    &:hover {
        color: orange;
    }
}

.checked {
    color: orange;
}

.star-rating-form > span:hover:before,
.star-rating-form > span:hover ~ span:before {
    color: orange;
}

.book-show-reviews {
    padding-top: 10px;
}

.reviews-container {
    
    h1 {
        font-family: 'Libre Baskerville', serif;
        font-size: 18px;
        font-weight: bold;
        padding-top: 10px;
    }

      .fa-star {
            &:hover {
                color: #C0C0C0;
            }
        }

        .checked {
            &:hover {
                color: orange;
            }
        }
}

.review-form-container {
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    padding-top: 1%;
    width: 100%;
    height: 100vh;
    background-color: #fffefb;

    h1 {
        font-family: 'Libre Baskerville', serif;
        font-size: 16px;
        padding-bottom: 5px;
        padding-left: 5px;
    }

    h2 {
        font-family: 'Libre Baskerville', serif;
        font-size: 16px;
        padding-bottom: 5px;
        padding-left: 5px;
    }

    h3, textarea, button, .form-error {
        font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 600;
    }

    textarea {
        resize: vertical;
        width: 600px;
        height: 25vh;
        background-color: #fffefb;
        border: 1px solid lightgrey;

        &:focus {
            outline: none;
            box-shadow: 0 0 3px rgba(0,0,0,0.2);
        }
    }

    .star-rating-form {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid lightgrey;
        max-width: 600px;
        display: flex;
        align-items: center;

        h3 {
            padding-right: 10px;
        }
    }

    .clear-button {
        border: none;
        background-color: #fffefb;
        color: #999;
        cursor: pointer;
    }

    .bookshelves-div {
        padding-bottom: 10px;
        border-bottom: 1px solid lightgrey;
        max-width: 600px;
    }

    .body-div {
        h3 {
            padding-bottom: 10px;
            padding-top: 10px;
        }
    }

    .spoiler-box {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid lightgrey;
        max-width: 600px;
    }

    header {
        font-family: 'Libre Baskerville', serif;
        font-weight: bold;
        font-size: 22px;
        padding-bottom: 20px;

        .title-link {
            color: #00635d;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .submit-button {
        padding: 5px;
        border: 1px solid gainsboro;
        border-radius: 1px;
        width: 50px;
        margin-top: 10px;

        &:hover {
            background-color: gainsboro;
            border: 1px solid gray;
        }
    }

    .remove-button {
        border: none;
        margin-left: -4px;
        background-color: #fffefb;
        color: #999;
        cursor: pointer;
        padding-top: 10px;
        
        &:hover {
            text-decoration: underline;
        }
    }

    .star-rating-form {
        justify-content: flex-end;

        .fa-star {
            font-size: 15px;
            padding-right: 3px;
        }
    }

    .book-info {
        display: flex;

        .review-cover {
            width: 40px;
            height: 60x;
        }
    }

}