.search-bar {
    display: inline-block;
    position: relative;
    margin-top: -3.5px;
    z-index: 2;

    .search-results {
        border: 1px solid gainsboro;
        background-color: #F4F1EA;
        position: relative;
        width: 267px;

        .search-result-img {
            max-width: 25px;
        }    

        .search-result {
            display: block;
        }
    }

    input {
        width: 267px;
        height: 24px;
        border: 1px solid #DCD6CC;
        border-radius: 3px;
        font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 12px;
        padding: 0 22px 0 8px;
    }

    input:focus {
        outline: none;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
    }
}

.search-icon {
    color: lightgrey;
    border: none;
    z-index: 3;
    position: relative;
    top: 11px;
    left: -29px;
    max-height: 1px;

    &:hover {
        cursor: pointer;
    }
}